{% extends "indexAdminLayout.html.twig" %}
{% block content %}
<center>

    <body>
    <br>
    <br>
    <br>
    <br>
    <h1>Ajouter un modele</h1>
    {{ form_start(form) }}
    <input type="submit" class="footer-bottom-section" value="Ajouter">
    {{ form_end(form) }}

    </body>

</center>
{% endblock %}