{% extends 'base.html.twig' %}


    {% block content %}
        <center xmlns="http://www.w3.org/1999/html">
            <h1>Ajout réservation</h1>
            <h3>La date est érronée ! </h3>

            {{ form_start(form) }}
            <br><input type="submit" value="Ajouter"></br>
            {{ form_end(form) }}

        </center>


    {% endblock %}
