{% extends 'admin.html.twig' %}


    {% block content %}
<center>
        <h1>Ajout réservation</h1>

{{ form_start(form) }}
    <br><input type="submit" value="Ajouter"></br>
{{ form_end(form) }}

</center>


{% endblock %}
